<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lzz_finaltask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lzz_FinalTask">

        <!--        启动页面-->
        <activity
            android:name=".ui.activity.BeginActvity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        注册页面-->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Lzz_FinalTask" />
        <!--        登录页面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"></activity>

        <!--        主界面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true" />
        <!--        新闻界面-->
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:exported="false" />

        <!--        发现页面-->
        <activity
            android:name=".ui.activity.DiscoveryActivity"
            android:exported="false" />

        <!--        个人页面-->
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:exported="true" />

        <!--        收藏页面-->
        <activity
            android:name=".ui.activity.FavoriteActivity"
            android:exported="true" />
        <!--        历史记录-->
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:exported="true" />
        <!--        分类新闻页面-->
        <activity
            android:name=".ui.activity.TypeNewsActivity"
            android:exported="true" />
        <!--        搜索页面-->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="true" />

        <!--        封禁页面(管理员)-->
        <activity
            android:name=".ui.activity.BanListActivity"
            android:exported="true" />


    </application>

</manifest>